:root{
    --shadeorange: #eabe59;
    --shadeblack: #27071e;
    --defaultfont: 'Satoshi';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: var(--shadeblack);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
p{
    color: var(--shadeblack);
    font-family: var(--defaultfont);
}
h1{
    position: fixed ;
    color: var(--shadeorange);
    font-family: var(--defaultfont);
    margin-left: 20vh;
    margin-top: 3vh;
    letter-spacing: -1.2px;
}
h2 {
    position: fixed;
    color: var(--shadeorange);
    font-family: var(--defaultfont);
    font-weight: 500;
    margin-top: 26vh;
    margin-left: 50vw;
}
ul,li{
    list-style: none;
}
table,th,td {
    border: 2px solid var(--shadeblack);
    border-collapse: collapse;
    padding: 1vh;
    font-family: var(--defaultfont);
}
div.wrapper{
    position: absolute;
    margin-top: 35vh;
    margin-left: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--shadeorange);
    height: auto;
    padding: 3vh;
    border-radius: 2vh;
}
img#walkman{
    display: flex;
    position: absolute;
    margin-top: 30vh;
    margin-left: 10vw;
    height: 40vh;
    width: 25vw;
}
div.viewTable {
    height: auto;   
    position: absolute;
    font-family: var(--defaultfont);
    background-color: var(--shadeorange);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3vh;
    
}
div#view{
    height: auto;   
    position: absolute;
    font-family: var(--defaultfont);
    background-color: var(--shadeorange);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3vh;
}
#update {
   
    font-size: 16px;
    padding: 10px;
    border: 2px solid var(--shadeblack);
    color: var(--shadeblack);
    text-align: center;
    cursor: pointer;
}


button#btn-viewDevice{
    font-weight: 700;
    font-family: var(--defaultfont);
    padding: 1vh;
    background: transparent;
    border: 2px solid var(--shadeblack);
    float: right;
    margin-top: 2vh;
}
button#btn-viewPurchases{
    font-weight: 700;
    font-family: var(--defaultfont);
    padding: 1vh;
    background: transparent;
    border: 2px solid var(--shadeblack);
    margin-top: 2vh;
}
button#btn-viewDevice:hover,button#btn-viewPurchases:hover {
    background-color: var(--shadeblack);
    color: var(--shadeorange);
    cursor: pointer;
}
button#btn-table{
    background: transparent;
    font-family: var(--defaultfont);
    font-weight: 700;
    padding: 1vh;
    border: 2px solid var(--shadeblack);
}
button#btn-table:hover{
    background-color: var(--shadeblack);
    color: var(--shadeorange);
    cursor: pointer;
}
button#btn-goback{
    background: transparent;
    font-family: var(--defaultfont);
    font-weight: 700;
    padding: 1vh;
    border: 2px solid var(--shadeblack);
    margin-top: 10px;
}
button#btn-goback:hover{
    background-color: var(--shadeblack);
    color: var(--shadeorange);
    cursor: pointer;
}

form{
    font-family: var(--defaultfont);
    font-weight: 700;

}

form input{
    width: 100%;
    height: 4vh;
    background: transparent;
    padding: 1vh;
    border: 2px solid var(--shadeblack);
}

.btn{
    font-weight: 700;
    font-family: var(--defaultfont);
    padding: 1vh;
    background: transparent;
    border: 2px solid var(--shadeblack);
}

.btn:hover{
    background-color: var(--shadeblack);
    color: var(--shadeorange);
    cursor: pointer;
}
